#image__skeleton__loading::before {
  content: "";
  display: block;
  position: absolute;
  left: -150px;
  top: 0;
  height: 100%;
  width: 150px;
  background: linear-gradient(
    to right,
    transparent 0%,
    #e8e8e8 50%,
    transparent 100%
  );
  animation: load 0.5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

#image__skeleton__loading {
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

@keyframes load {
  from {
    left: -150px;
  }
  to {
    left: 100%;
  }
}
