.card__myBusiness:hover h3.title__card {
  color: rgba(52, 211, 153, var(--tw-text-opacity));
}

div.container__title__card::before {
  content: "";
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    transparent 0%,
    rgba(0, 0, 0, 0.561) 100%
  );
}
